.teste-hover{
    width: 30%;
}


img {
    max-width: 100%;
    background-size: cover;
    min-width: 80px;
    vertical-align:top;
}

.t-wrap {
    width: 80%;
    margin: 0 auto;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

.content-arquivo-revista{
    width: 100%;  
    margin: 0 auto;
    border: 1px solid red;
   
}

.slick-prev:before, .slick-next:before { 
    color:red !important;
}

/* the slides */
.slick-slide {
    margin: 0 10px;
}
/* the parent */
.slick-list {
    margin: 0 -10px;
}

.item-arquivo{
    width: 100%;
    position: relative;
    display: inline-block;
    
}

.item-overlay{
    background-color:red;
    opacity: 0;
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    box-sizing: border-box;
}

.item-arquivo:hover .item-overlay{
    width:100%;
    height:100%;
    background-color:red;
    opacity: 0.7;
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    box-sizing: border-box;
    transition: all 0.5s ease;
}

.item-arquivo:hover .btn-mod-border-item{
    opacity: 1;    
    transition: opacity 0.2s ease;
}

.l-btn-mod-item {
    width: 100%;
    display: inline-block;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.btn-mod-border-item{
   width:80%;
    background-color:$primary-red;
    opacity: 0;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:inline-block;
    box-sizing: border-box;
    transition: opacity 0.5s ease;
    line-height: 3rem;
    height: 3rem;
    border: 1px solid $multipurpose-white;
    border-radius: 4px;
    box-shadow: none;
    font-weight: bold;
    font-family: $secondary-font;
    font-size: 1rem;
    font-style: italic;
    color: $multipurpose-white;
    text-transform: lowercase;
    &:hover{
        background-color:$primary-red;
        box-shadow: none;
    }
    
}
/*TYPOGRAPHY*/
.texto,
p {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
  color: #1D1D1B; }

.titulo, .titulo3, .titulo4, .titulo2 {
  font-size: 1.5rem;
  line-height: 1.8rem;
  padding-bottom: 4rem;
  font-weight: bold;
  font-family: "Georgia", Times, "Times New Roman", serif;
  color: #1D1D1B; }
  .titulo.t-address, .t-address.titulo3, .t-address.titulo4, .t-address.titulo2 {
    padding-bottom: 0.5rem; }

.titulo3, .titulo4 {
  color: #fff; }

.titulo4 {
  font-size: 3rem;
  line-height: 3rem;
  padding-top: 3rem; }

.titulo2 {
  font-size: 3.5rem;
  line-height: 5.6rem;
  padding: 5rem 0 1.5rem 0;
  text-align: left;
  color: #fff; }
  @media screen and (max-width: 60rem) {
    .titulo2 {
      font-size: 3.2rem;
      line-height: 4.6rem; } }
  @media screen and (max-width: 40rem) {
    .titulo2 {
      font-size: 3rem;
      line-height: 4.6rem; } }
  @media screen and (max-width: 25rem) {
    .titulo2 {
      font-size: 2.4rem;
      line-height: 3.6rem;
      padding: 0 0 1.5rem 0; } }

.link {
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  line-height: 8rem;
  font-weight: bold;
  font-family: "Georgia", Times, "Times New Roman", serif;
  font-style: italic; }
  .link a {
    color: #fff;
    text-transform: lowercase; }

.link-solo {
  font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
  font-size: 0.8rem;
  line-height: 1.5rem;
  color: #fff;
  padding-bottom: 1.5rem;
  font-style: italic; }
  .link-solo a {
    color: #fff;
    text-transform: lowercase;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; }
    .link-solo a:hover {
      color: #777; }

.secondary-link {
  float: left; }
  .secondary-link:after {
    content: '';
    display: table;
    line-height: 0;
    clear: both; }
  @media screen and (max-width: 50rem) {
    .secondary-link {
      float: left; }
      .secondary-link:last-child {
        padding: 0 0.5rem; } }


.header-news{
    position: absolute;
    top:-3rem;
    width: 100%;
    background-color: red;
    border: 1px solid black;
    height: 3rem;
}